.contacts {
  background-color: #ffffff;
  color: #000000;
  padding-top: 47px;

  @media (min-width: @tablet-width) {
    padding-top: 55px;
  }
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #283645;
  text-align: center;
  margin-top: 0;
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    margin: 0;
  }
}

.contacts__subtitle {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #283645;
  text-align: center;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 17px;
  }
}

.contacts__text {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 18px;
  color: #d22856;
  text-decoration: none;
  text-align: center;
}

.contacts__adress .contacts__text {
  line-height: 33px;
}

.contacts__phone {
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    flex-grow: 1;
  }

  @media (min-width: @desktop-width) {
    order: 1;
  }
}

.contacts__e-mail {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    flex-grow: 1;
  }

  @media (min-width: @desktop-width) {
    order: 3;
  }
}

.contacts__adress {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    flex-grow: 1;
  }

  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    padding-top: 61px;
    padding-bottom: 26px;
    align-items: flex-start;
  }
}

@media (min-width: @desktop-width) {
  .contacts__e-mail,
  .contacts__adress,
  .contacts__phone {
    margin-bottom: 0;
  }
}

.contacts__map {
  display: block;
  border: none;
  width: 320px;
  height: 200px;

  @media (min-width: @tablet-width) {
    width: 660px;
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 502px;
  }
}
