.filters {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .filters__group {
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5) {
      grid-column: 1/-1;
    }
  }
}

.filters__group {
  &:nth-child(2),
  &:nth-child(4) {
    background-color: #f2f2f2;
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (min-width: @tablet-width) {
  .filters__group {
    &:nth-child(1) {
      order: -3;
    }

    &:nth-child(2) {
      background-color: #ffffff;
      margin: 0;
    }

    &:nth-child(3) {
      order: -1;
    }

    &:nth-child(4) {
      order: -2;
      background-color: #ffffff;
      margin: 0;
    }
  }
}

.filters__lable {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
}

.filters__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.filters__input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.filters__button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
}

.filters__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
