.intro {
  background-color: #092840;
  color: #ffffff;
}

.intro__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.intro__download {
  color: #ffffff;
}

.intro__wrapper {
  background-color: #1d2631;
  color: #ffffff;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.intro__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

