.main-footer {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
  }
}
