.main-header {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding-top: 21px;
  padding-bottom: 21px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0;
  }
}

.main-header__nav {
  background-color: #283645;
  box-shadow: 0 1px 0 #000000;
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    align-items: center;
  }
}

.main-header__logo {
  display: block;
}
