.price {
  background-color: #f2f2f2;
  color: #000000;
}

.price__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}

.card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #283645;
}

.card__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.card__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
}
