.price {
  background-color: #f2f2f2;
  color: #000000;
}

.price__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.price__toggles {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
