.reviews {
  background-color: #ffffff;
  color: #000000;
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 72px;
    padding-bottom: 41px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__item {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.reviews__author {
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 15px;
    margin-top: 51px;
    margin-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    line-height: 18px;
    font-size: 24px;
  }
}

.reviews__info {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #283645;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 13px;
  }
}

.reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  order: -1;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 700px;
  }
}

.reviews__toggles {
  text-align: center;
}
