@tablet-width: 660px;
@desktop-width: 1200px;
@mobile-width-only: 659px;

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 660px;
    margin: 0 auto;
    // padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
